.card-password-card {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #131a26;
  }
  .password-text {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    padding-top: 20px;
    width: 100%;
    border: 1px solid rgb(237, 231, 231);
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .password-picture {
    display: flex;
    align-items: center; 
    padding-top: 30px;
    color: white;
    margin-left: 80px;
  }
  .logo-picture {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
  }
  .password-reset {
    padding-top: 30px;
    color: white;
    font-size: 45px;
  }
  .passwordform-control {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    margin-left: 30px;
  }
  .passwordinput-control {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    margin-left: 30px;
    border: 1px solid rgb(237, 231, 231);
    color: #5656d1;
    background-color: #cbe3eb;
  }
  .password-uptime {
    width: 400px;
    position: relative;
  }
  .password-submit-btn {
    width: 80%;
    margin-left: 30px;
    background-color: rgb(45, 131, 45);
    color: #FFFFFF;
    border: none;
    margin-top: -32px;

  }
  .password-submit-btn:hover {
    background-color: rgb(45, 131, 45); 
  }
  .password-mail {
    margin-right: 215px;
    position: relative;
      top: 10px;
  }
  .password-terms {
    margin-top: -35px;
      color: gray;
   
  }
  .password-link {
    margin-top: 20px;
  }
  .password-anchor {
    color: #77ec02;
    margin-right: 40px;
  
  }
  .password-anchor:hover,
.password-anchoring:hover {
  text-decoration: underline;
}
.password-gaurd{
    color: rgb(57, 135, 201);
    margin-top: 20px;
  }
  .password-anchoring {
    color: #77ec02;
  }
  .passwordtext-danger {
    position: relative;
    top: -10px;
    padding-right: 130px;
    background-color: #ebdddd;
  }
  .password-span{
    margin-right: 235px;
  }
  .password-recaptcha{
    margin-left: 29px;
    height: 130px;
  }