.Free-Account {
    position: relative;
    bottom: 280px;
    text-align: center;
    left: 20px;
}

.Free-heading {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
}

.Free-Now {
    color: rgb(38, 170, 38);
}

.Free-Account-Button {
    height: 50px;
    width: 350px;
    font-size: 17px;
    background-color: rgb(38, 170, 38);
    border: none;
    color: white;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    font-weight: 600;
}

.Free-Account-CreditCard {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: gray;
}

.GoogleStoreImage {
    height: 50px;
    cursor: pointer;
}

.AppleStoreImage {
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.Available-On {
    margin-top: 50px;
}

.AvailableStore {
    font-family: "Roboto", sans-serif;
    color: gray;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}